header {
    height: 102px;
    /* opacity: 0.8; */
    /* background-color: #deb887; */
    /*  background-color: rgb(255, 255, 255);; */
    position: relative;
    background: rgba(0, 0, 0);

}
.scrolled nav {
    background-color: blue;
}
p {
    color: brown;
}
.jopa ul li{
    text-align: center;
}
nav {
    width: 100%;
    height: 102px;
    background: rgba(0, 0, 0,0.5);
    position: fixed;
    z-index: 2;

}
.header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    margin: 0;
    list-style-type: none;
}


.header {
    /* display: flex;
    justify-content: space-between; */
    justify-content: center;
}

.menu_logo {
    cursor: pointer;
    border-radius: 40px;
    color: white;
}

.basket {
    text-align: center;
    min-height: 700px;
}
.basket .basket_titlle {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.checkout .basket_titlle {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0 30px 0;
}
.basket .table {
    margin: 50px 0;
    width: 1100px;
    min-height: 400px;
}

.basket .basket_body {
    text-align: center;
}
.table th {
    padding: 15px;
    text-align: center;
}

.table td {
    text-align: center;
    font-size: 18px;
    color: black;
    padding: 5px;
}
.basket p {
    text-align: left;
    font-size: 25px;
    padding-left: 50px;
}
.basket a {
    margin: 15px;
}
.table td a {
    color: rgb(150, 47, 9);
}
.basket_titlle {
    margin-top: 35px;
}

.menu .menu_list {
    display: inline-block;
    padding: 0 30px 0 30px;


}
.dropdown {
    position: absolute;
    display: none;
    min-height: 90px;
    z-index: 1;
}
.dropdown a {
    text-align: center;
    display: block;
    line-height: 16px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.64px;
    color: black;
    padding: 15px 10px;
}

.dropdown a:hover {
    background-color: white;


}

.menu_list:hover .dropdown {
    display: block;
    background-color: rgb(255, 255, 255);
}
/*
.menu li .menu_list {
    float: left;
    display: block;
}

.menu ul .girls {
    position: absolute;
    top
	left:-9999px;
}
.menu li:hover ul.girls {
    left: auto; */

.icon_user {
    cursor: pointer;
    width: 100%;
}
.icon_cart {
    cursor: pointer;
    width: 100%;
}

.menu .menu_link {
    text-decoration: none;
    display: inline-block;
    line-height: 16px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.64px;

}
.menu .menu_link:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: rgb(255, 255, 255);
    transition: width 0.4s ease-in-out;

}

ul .menu_link:hover:after,
ul .menu_link:focus:after {
    width: 100%;

}


.menu_icon {
    margin: -4px 15px 0 -25px;
    cursor: pointer;

}


.menu_log {
    margin-top: 22px;
}

.sub_header {
    min-height: 450px;
    /* position: relative; */
}

@keyframes rtv
{
    0% {background-image: url('../img/BG/justin-c-8agV5pnsOHo-unsplash.jpg') ;}
    50% {background-image: url('../img/BG/liam-seskis-b5DSsceFdQw-unsplash.jpg');}
    100% {background-image: url('../img/BG/fachry-zella-devandra-KvRy5S8hKPw-unsplash.jpg');}
}
.sub_header {
    width: 100%;
    height: 100%;
    animation: rtv 20s linear infinite;
    animation-direction: reverse;

}


.promo_text {
    margin-top: 100px;
    position: relative;

}

.promo_text .tiltle {
    font-size: 90px;
    font-weight: 700;
    line-height: 106px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.promo_text .promo_tilt {
    padding-top: 30px;
    font-size: 23px;
    font-weight: 500;
    line-height: 30px;
    color: white;

}
.promo_img {
    margin: -71px 0 0 -300px;
}
.prom_img {
    position: absolute;
}

.new {
    background-color: white;
    min-height: 1149px;
}

.new_header {
    padding: 40px;
    display: inline;
}

.new_header p {
    width: 209.24px;
    height: 4px;
    left: 778.27px;
    border: 4px solid #000000;
    transform: matrix(-1, 0, -0.01, -1, 0, 0);
    margin-top: 20px;
    border-radius: 3px;
}
.new_header .new_title {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
    font-weight: 500;

}
.new_product {
    display: flex;
    flex-wrap: wrap;

}

.new_product  .product_block {
    text-align: center;
    flex-direction: column;
    margin-top: 84px ;
    margin: 15px;
    /*display: inline-block;*/
    border: 1px solid rgb(105, 105, 105);
    border-radius: 10px;
    box-shadow: 0 1px rgb(0, 0, 0);
}

.new_product  .product_block:hover {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 3px 7px rgb(0, 0, 0);
    transition: all 0.8s ease 0s;

}

.product_block .product_img .new_img {
    width: 230px;
    height: 200px;
    border-radius: 66px;


}
.product_img {
    text-align: center;
    margin: 7px 0px;
}



.new_product .product_block .product_text {
    padding-left: 14px;
    height: 88px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 129%;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    color: #000000;
}

.product_block .product_text .product_price {
    color: rgb(255,83,0);
    border-width: 2px;
    border-color: black;
    font-size: 25px;
}
.popup_content input {
    margin-top: 10px;
}
.media {
    min-height: 523px;
    background-color: rgb(235, 212, 179);
}
.midia_subscr {
    margin: 50px 0 13px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 129%;
}
.media_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 46px;


}

.media_img .media_photo_f {
    text-align: center;
    border-radius: 37px;
    width: 303px;
    height: 303px;
    padding-left: 15px;
}

.media_img .media_photo_s {
    text-align: center;
    width: 454.28px;
    height: 303px;
    border-radius: 37px;
    padding-left: 15px;

}

.media_img .media_photo_t {
    text-align: center;
    width: 268px;
    height: 303px;
    border-radius: 37px;
    padding-left: 15px;
}
.foot {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}
.footer {
    min-height: 483px;
    background-color: #211E1D;
    width: 100%;
    margin-top: auto;
}

.checkout {
    margin-top: 100px;
}
form p {
    margin: 0;
}
.footer_navigation {
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    text-align: center;


}
.footer_up {
    display: inline-block;

}
.footer_up ul{
    display: inline;
    padding: 5px;
}

.footer_up ul li {
    margin-top: 26px ;
    padding: 0;
    text-align: left;
}

.footer_up a {
    color: white;
}
.footer_social {
    min-height: 220px;
    margin-top: 48px;
}
.footer_social h2 {
    margin-top: 26px ;
    color: white;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.64px;
    margin-top: 28px;
}

.footer_img {
    display: flex;
    justify-content: center;
}
.footer_img a {
    padding: 5px;

}
.footer_img .footer_icon {
    width: 55px;
    height: 55px;
}

.footer_img .footer_icon:hover {
    padding-top: -5px;
    width: 60px;
    height: 60px;
}

.footer_social .footer_phone {
    width: 100%;
    min-height: 68px;
    margin-top: 20px;
    text-align: center;

}
.footer_call {
    color: white;
    display: inline;

}

.product {
    min-height: 2450px;
    margin: 0;
    padding: 0;
}

.product .product_title {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}


.product_text {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 109.5%;
    letter-spacing: 0.64px;
    margin: 0 15px;

    color: black;


}
.content_down .product_text {
    text-align: center;
}


.product .product_title hr {
    margin: 19px 0px 19px 0px;
    text-align: center;px
    /* padding: 0 10 0 10; */

}



.product_item {
    margin-top: 45px;

}




/* Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.popup {
    min-height: 500px;

}

.popup_body {
    background-color: cornflowerblue;
}

.btn {
    /*margin: 7px 0;*/
    text-align: center;
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 10px;
    background: rgb(87, 47, 9);
    box-shadow: 0 -3px rgb(223, 12, 12);
    transition: 0.2s;
    width: 100%;

}
.btn:hover { background: rgb(221, 79, 13); }
.btn:active {
    background: rgb(207, 49, 1);
    box-shadow: 0 3px rgb(231, 5, 5) inset;
}

.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
}

.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    background-color: rgba(0, 0, 0, 0.9);
}

.popup_content {
    background-color: #fff;
    color: #000;
    max-width: 1400px;
    padding: 200px;
    text-align: center;
}


.popup_area {

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.login_title {
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

.pas_title {
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

/*.text {
    font-size: 16px;
    color: #000000;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 62px;
    background: rgb(255, 255, 255);
    border-radius: 31px;
    padding: 0 35px 0 35px;
}*/

.content_up {
    display: flex;

}
.product_img {
    margin: 20px;
}
.product_img img {
    width: 600px;
}

.product_content {
    margin: 20px;
    /*background-color: rgb(248, 248, 248);*/
    width: 100%;
    /*text-align: center;*/
    /*padding: 60px 15px;*/
}

.product_name {
    font-size: 30px;
    font-weight: 400;
    color: #000000;
    line-height: 1.2;
    position: left;
}
.product_price {
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    line-height: 1.2;
    color: rgb(255,83,0);
    text-align: center;
}
.product_code {
    padding: 15px 0 15px 0;
}
.content_up .product_content .btn {
    margin-top: 30px;
    width: 100%;
}

.content_titlle {
    font-size: 60px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    padding: 30px;
}
.content_down {
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.text {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    text-align: left;
    display: inline-block;
}

.product_block .product_text a {
    color: black;
    text-decoration: none;
}

.popup_login .reg_log {
    font-size: 60px;
    font-weight: 500;
    color: #000000;
    text-align: center;
}
